
    <td width="30%"><%= student.full_name %></td>
    <td><%= raw ball_text(ball, '-') %></td>
    <td class="text-right">
        <%= link_to 'Змінити', edit_ball_path(examination.id, student.id), remote: true %>
    </td>

