<!DOCTYPE html>
<html>

    
<head>
    <title>Electrocirquits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" media="all" href="/assets/balls.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/datepicker.self-a3c11abc6cafe253cdaf92adb7630ebef42dfe8478ce41f9c9d376b4686d9ad5.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/examinations.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/groups.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/main.self-ae741efe2ee92b7759a9e74e34045fcfedecf07ce5b18777f0c35c1f7eda69c8.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/specialities.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/static_pages.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/statistics.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/students.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
<link rel="stylesheet" media="all" href="/assets/application.self-2a3254f74a528af6083efba1325ca737167e2786fcdfa932164d53874065671b.css?body=1" data-turbolinks-track="true" />
    <script src="/assets/jquery.self-d03a5518f45df77341bdbe6201ba3bfa547ebba8ed64f0ea56bfa5f96ea7c074.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery_ujs.self-8e98a7a072a6cee1372d19fff9ff3e6aa1e39a37d89d6f06861637d061113ee7.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/turbolinks.self-c37727e9bd6b2735da5c311aa83fead54ed0be6cc8bd9a65309e9c5abe2cbfff.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/affix.self-f7aef9d98ee5ece34a6a92a6a15bba777d93e8d908b75c95a85088277f394200.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/alert.self-896ab026e6823f5cef2441e07dac53d0692a5b772ac58b1ce20aa624c342d3f4.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/button.self-d19f3e2bcd3a7a4d75c11b9141b3fabd2c11987da1e99c85548ec3ecf8db30c3.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/carousel.self-b2e5e14483e6c31343a83861b7d487620f143d6fc2d07d5ae7544b6b225ba6be.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/collapse.self-93820e9b486e375a7fb4477602def3a6f8381fa6d50938d5378297ffbe4a1248.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/dropdown.self-30536ae4d54b2685c26b5787ed0eb549a9075717fe690cce6270873bedf2df00.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/tab.self-9b77df34cbbb08ec93a806d6cdb741f04e3dbf3389978a0679146f2d2987bc89.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/transition.self-9616c4e856b57659b67da3c6f2adcd584b5601ef4bebcdadab8ebb387d80bb25.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/scrollspy.self-c5c6ed008955656d345067e9821d79f1216b8383134d08465d4aa1a33a2b93b4.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/modal.self-bcfe54f3132bf16a8c5ce4289e47eba488f6522a08f49f378a037061c6c7aa4c.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/tooltip.self-3aa41fbe871573b34e0ebddf31598cd5a11a9841ca85f90934ea46326e46626d.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/popover.self-b73e9c9111d01148e24bbc46e096782e024dc5db630e7078cf11ed2587ef8551.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap-sprockets.self-fbfa5ad7d9aa0afe439ec4ff3883acc4cb92b62cb67c40d674320c9aa1d4642d.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery.validate.self-5f1421e7608c66470d31cfefd1cb8e7cfe3345847c7b73a5fe63562528dee96b.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery.validate.additional-methods.self-0fc647a2ea7acd6d90dfa6870b4f2898596efb1ad5980957a46c47e2284f6460.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/balls.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap-datepicker.self-ac4c3c419f2735652eb73867c9882e2accabd9857e2c57c00b75d45f7c1f6b05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/examinations.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/groups.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/specialities.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/static_pages.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/statistics.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/students.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/application.self-097cd319a276e6debbc33846b71e27ac59849fa289420454a6ec2bf24180938a.js?body=1" data-turbolinks-track="true"></script>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="+QkSbT2hsGwGNNE/rqI0/vC5q31AVWBP8HxxT9x1jqME1jpqt8KKUkpDNbi34wjW5oEeJn/dN8pvXesMW06cwg==" />
</head>


    <body>
        <div id="main-container" class="container">

            
<div class="row">
    <div id="frontend_header" class="col-md-12" style="background-color: #B0B0B0; margin-top: 10px;">
        <h3 class="center">Основи теорії кіл, сигнали та процеси в електроніці (2014 рік)</h3>
    </div>
    
</div>


            <div class="row">
                <div id="content" class="col-md-12" style="background-color: #F5F5F5;">
                    Оновлено:  
                </div>
            </div>

            <div class="row">
    <div id="footer" class="col-md-12" style="background-color: #C0C0C0; margin-bottom: 20px;">
        <p style="text-align: center; padding: 5px;">Ужгород, 2015</p>
    </div>
</div>
 

        </div>
    </body>

</html>
