<br />
<h4>Тематичний план дисципліни</h4>
<br />

<h5>Змістовний модуль №1 (другий семестр)</h5>

<p>Вступ. Основні визначення та поняття</p>
<p>Розділ 1.Загальні питання теорії кіл</p>
<p>Розділ 2. Електричні сигнали</p>
<br />

<h5>Змістовний модуль №2 (третій семестр)</h5>

<p>Розділ 3. Електричні кола при гармонічному впливі</p>
<p>Розділ 4. Комплексний метод розрахунку електричних кіл</p>
<p>Розділ 5. Методи розрахунку складних електричних кіл</p>
<br />

<h5>Змістовний модуль №3 (третій семестр)</h5>

<p>Розділ 6. Електричні фільтри</p>
<p>Розділ 7. Чотириполюсники</p>
<p>Розділ 8. Нелінійні електричні кола</p>