<h4 class="center-block">Перелік питань, що виносяться на іспит</h4>

<ol>
  
  <li>Основні визначення та поняття. Електротехніка, електроніка, радіоелектроніка. Задачі електротехніки, електроніки та радіоелектроніки. Основний метод та задача теорії електричних кіл.</li>
  <li>Історія розвитку електротехніки та електроніки.</li>
  <li>Поняття струму, напруги, е.р.с.</li>
  <li>Електричні кола. Класифікація електричних кіл. Елементи електричних кіл. Електричні схеми.</li>
  <li>Пасивні елементи електричних кіл. Опір.</li>
  <li>Пасивні елементи електричних кіл. Ємність.</li>
  <li>Пасивні елементи електричних кіл. Індуктивність.</li>
  <li>Джерела електричної енергії.</li>
  <li>Режими роботи джерел електричної енергії.</li>
  <li>Топологія електричних кіл.</li>
  <li>Основні закони електричних кіл.</li>
  <li>Сигнали. Основні параметри гармонічних сигналів.</li>
  <li>Негармонічні сигнали. Поняття гармоніки.</li>
  <li>Модульовані сигнали. Основні види модуляції та параметри модульованих сигналів.</li>
  <li>Форма і параметри імпульсів.</li>
  <li>Електричне коло змінного струму з активним опором.</li>
  <li>Електричне коло змінного струму з індуктивністю.</li>
  <li>Електричне коло змінного струму з ємністю.</li>
  <li>Електричне коло змінного струму з послідовно включеними індуктивністю та опором.</li>
  <li>Електричне коло змінного струму з паралельно включеними індуктивністю та опором.</li>
  <li>Електричне коло змінного струму з послідовно включеними ємністю та опором.</li>
  <li>Електричне коло змінного струму з паралельно включеними ємністю та опором.</li>
  <li>Електричне коло змінного струму з послідовно включеними індуктивністю, ємністю та активним опором.</li>
  <li>Електричне коло змінного струму з паралельно включеними індуктивністю, ємністю та активним опором.</li>
  <li>Послідовний коливальний контур. Резонанс напруг.</li>
  <li>Паралельний коливальний контур. Резонанс струмів.</li>
  <li>Символічний метод розрахунку електричних кіл змінного струму.</li>
  <li>Закони Ома та Кірхгофа у комплексній формі. Баланс потужностей.</li>
  <li>Метод контурних струмів.</li>
  <li>Метод вузлових напруг.</li>
  <li>Принцип накладання.</li>
  <li>Принцип взаємності та заснований на ньому метод розрахунку електричних кіл.</li>
  <li>Метод еквівалентного генератора.</li>
  <li>Еквівалентні перетворення джерел е.р.с.</li>
  <li>Еквівалентні перетворення з’єднання опорів трикутником та зіркою.</li>
  <li>Чотириполюсники. Рівняння чотириполюсника. Форми запису рівнянь чотириполюсника.</li>
  <li>Чотириполюсники. Методи визначення коефіцієнтів чотириполюсників.</li>
  <li>Симетричні та несиметричні чотириполюсники. Схеми заміщення чотириполюсників.</li>
  <li>Перехідні процеси у електричних колах. Закони комутації.</li>
  <li>Включення напруги у колі з індуктивністю.</li>
  <li>Розмикання електричного кола з індуктивністю.</li>
  <li>Комутація опору в колі з індуктивністю.</li>
  <li>Включення напруги у колі з ємністю.</li>
  <li>Розмикання електричного кола з ємністю.</li>
  <li>Загальні відомості про нелінійні елементи.</li>
  <li>Перетворення нелінійних резистивних кіл.</li>
  <li>Визначення робочих точок нелінійних елементів.</li>
  <li>Визначення реакції нелінійного елемента на зовнішні сигнали.</li>
  <li>Апроксимація характеристик нелінійних елементів.</li>
  <li>Нелінійні елементи при гармонічному впливі.</li>

</ol>

