
<h4>Розподіл педагогічного навантаження</h4>

<table class="table">

  <thead>
    <tr>
      <th style="text-align: center">1-й курс 2-й семестр</th>
      <th style="text-align: center">2-й курс 3-й семестр</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td style="text-align: center">
        <p>Лекції: 16&nbsp;год.</p>
        <p>Лабораторні: 36&nbsp;год.</p>
        <p>Самостійна робота: 68&nbsp;год.</p>
        <br />
        <p style="font-weight: bold">Форма контролю: залік</p>
      </td>
      <td style="text-align: center">
        <p>Лекції: 36&nbsp;год.</p>
        <p>Лабораторні: 52&nbsp;год.</p>
        <p>Самостійна робота: 92&nbsp;год.</p>
        <br />
        <p style="font-weight: bold">Форма контролю: іспит</p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center">
        <br />
        <p>Всього: 120&nbsp;годин</p>
      </td>
      <td style="text-align: center">
        <br />
        <p>Всього:&nbsp;180 годин</p>
        <p style="font-weight: bold">Курсова робота (6-та група): 108&nbsp;годин<br /> (диференційований залік) </p>
      </td>
    </tr>
  </tbody>

</table>