<span class=page_title>Примітки </span>


<table id="notes_table" class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Текст</th>
            <th>Активність</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        
      <% @notes.select{ |n| n.active }.each do |note| %>
        <%= render partial: 'note_line', locals: {note: note} %>
      <% end %>
      <tr style="height: 70px;">
          <td colspan="8" style="vertical-align: bottom;">
              <span style="font-weight: bold">Неактивні примітки</span>
          </td>
      </tr>
      <% @notes.select{ |g| !g.active }.each do |note| %>
        <%= render partial: 'note_line', locals: {note: note} %>
      <% end %>
    
    </tbody>
</table>

<%= link_to 'Створити нову примітку', new_note_path, class: 'btn btn-primary' %>

<script>

  var fixHelperModified = function(e, tr) {
    var $originals = tr.children();
    var $helper = tr.clone();
    $helper.addClass('active');
    $helper.children().each(function(index){
      $(this).width($originals.eq(index).width() + 16);
    });
    return $helper;
  };

  $("#notes_table tbody").sortable({
    helper: fixHelperModified,
    handle: ".sortable",
    axis: 'y',
    cursor: 'move',
    update: function(event, ui){
      var a = $('#notes_table tbody').sortable('toArray');
      $.post('/notes/update_order', {
        data: a
      });
    }
  });

</script>