@import "bootstrap-sprockets";
@import "bootstrap";


#backend_header {
    background-color: #5287A6;
    margin-top: 5px;
    padding: 20px;

    .title {
        font-family: Verdana, Geneva, sans-serif;
        font-weight: bold;
        font-size:  24px;
        color: #F0F0F0;
    }
}

#frontend_header {
    background-color: #5287A6;
    margin-top: 5px;
    padding: 20px 20px 10px;

    .title {
        font-family: Verdana, Geneva, sans-serif;
        font-weight: bold;
        font-size:  24px;
        color: #F0F0F0;
    }
    
    .nav {
        padding-top: 20px;
    }
    
    .nav > li > a {
        padding: 0 15;
        color: #F0F0F0;
    }
    
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:active {
        color: #555;
    }
    
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:active {
        color: #555;
    }
    
}

#sidebar {
    background-color: #ECEEF0;
    min-height: 700px;
    padding: 10px;
    
    .nav-tabs {
        border-bottom: none;
    }
    
    .nav-tabs > li > a {
        border-radius: 4px;
    }
    
    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:active {        
        background-color: #D3DEE5;
    }
    
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:active {
        background-color: #ECEEF0;
        border: transparent;
        font-weight: bold;
    }
}

#content {
    background-color: #ECEEF0;
    color: #333;
    font-weight: 300;
    font-family: sans-serif;
    font-size: 12.5px;
    min-height: 700px;
    border-left-style: solid;
    border-left-color: #DCDEE0;
    border-left-width: 1px;
    padding: 10px;
    
    span.page_title {
        display: block;
        font-size: larger;
        font-weight: bold;
        color: cornflowerblue;
        margin-bottom: 20px;
        float: left;
    }
    
    label.error {
        font-size: smaller;
        color: red;
        font-style: italic;
        float: right;
    }
    
    .flash {
        display: none;
        text-align: center;
        min-height: 40px;
        line-height: 40px;
        border: 1px solid #999;
        border-radius: 6px;
    }
    
}

#footer {
    background-color: #5287A6;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    
    .title {        
        color: #F0F0F0;
        font-weight: bold;
    }
}

.balls {
     border: 1px solid #CCC;
     background-color: #F5F5F5;
         
     thead > tr {
         background: linear-gradient(#FBFBFB, #F9F9F9, #ECEEF0);
     }
         
}




