<div class="row">
    <div id="footer" class="col-md-12" style="background-color: #C0C0C0;">
        <p style="text-align: center; padding: 5px;">Ужгород, 2015</p>
    </div>
</div>

<div class="row">
    <div id="sub_footer" class="col-md-12" style="background-color: white; min-height: 10px;">
        &nbsp
    </div>
</div>