<div class="row">
    <div id="footer" class="col-md-12" style="background-color: #C0C0C0; margin-bottom: 20px;">
        <p style="text-align: center; padding: 5px;">Ужгород, 2015</p>
    </div>
</div>
