
<div class="row">
    <div id="frontend_header" class="col-md-12" style="background-color: #B0B0B0; margin-top: 10px;">
        <h3 class="center">Основи теорії кіл, сигнали та процеси в електроніці (2014 рік)</h3>
    </div>
    
</div>
