
<ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="" >Статистика</a></li>
    <li><a href="" >Напрямки</a></li>
    <li><a href="" >Групи</a></li>
    <li><a href="" >Студенти</a></li>
    <li><a href="" >Оцінювання</a></li>
    <li><a href="" >Оцінки</a></li>
    
</ul>



