<!DOCTYPE html>
<html>

    <%= render :partial => 'layouts/head' %>

    <body>
        <div id="main-container" class="container">

            <%= render :partial => 'layouts/backend_header' %>

            <div class="row">
                <div id="sidebar" class="col-md-3">
                    <%= render :partial => 'layouts/sidebar' %>
                </div>
                <div id="content" class="col-md-9">
                    <%= yield %>
                </div>
            </div>

        </div>
    </body>

</html>
